<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style/css/mainstyle.css">
</head>
<body>
<div class="header">
    <h1>Backbone /JS</h1>
    <p>RESTful</p>
</div>

<section class="todoapp">
    <script type="text/template" id="net-content">
        <div id="<%= id %>"><%= nettitle+' '+id %>
            <button class="editButton" id="<%= id %>"> edit</button>
            <div class="toggled" id="<%= id %>">
                <input class="edit" id="<%= id %>" value="<%= nettitle %>">
                <button class="save" id="<%= id %>"> save</button>
                <button class="destroy" id="<%= id %>"> delete</button>
            </div>
        </div>
    </script>
    <script type="text/template" id="item-template">
        <div class="view">
        </div>
    </script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="node_modules/backbone/backbone.js"></script>
    <script src="js/app.js"></script>
    <script src="js/views/appview.js"></script>
    <script src="js/views/todo-view.js"></script>
    <script src="js/models/models.js"></script>
    <script src="js/collections/collections.js"></script>
    <script src="js/routers/router.js"></script>
</section>
</body>
</html>