<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style/css/mainstyle.css">
</head>
<body>
<section>
    <header>
        <h1>Backbone /JS</h1>
        <p>RESTful</p>
    </header>
    <article id="todoapp">
        <div id="todo-list"></div>
    </article>
    <footer>
        < footer >
    </footer>
</section>
<script type="text/template" id="item-template">
    <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
    <label><%= nettitle %></label>
    <input class="edit" value="<%= nettitle %>">
    <button class="destroy">delete</button>
</script>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/underscore/underscore.js"></script>
<script src="node_modules/backbone/backbone.js"></script>
<script src="js/app.js"></script>
<script src="js/views/appview.js"></script>
<script src="js/models/models.js"></script>
<script src="js/collections/collections.js"></script>
<script src="js/routers/router.js"></script>
</body>
</html>