button {
    display: none;
    border-radius: 20%;
    margin: auto;
}


body {

    background-color: lightblue;
}


h1 {
    color: navy;
    margin-left: 20px;
}

header {
    min-width:400px;
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

section,
footer
{
    min-width:400px;
    text-align: center;
    background-color: #666666;
    border-radius: 5px;
    padding: 50px;
}

div{
    display: block;
    width: 500px;
    margin: auto;
    text-align: left;

}
label{
    display: inline;
    width: 6px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


article {
    min-width:400px;
    background-color: #eef1ac;
    padding: 60px;
    border-radius: 5px;


}

section {
    width: calc(100% - 100px);
    margin: 0 50px 50px 50px;
}
/*default state - hidden*/
.edit {
    display: none;


}
/*show input field*/
.editing  input.edit{
    display: inline;
    /*line-height: 10px;*/
    /*width: 460px;*/
}
.editing  button.destroy{
    display: inline;
}
.editing label{
    display: none;
}