button {
    display: none;
    border-radius: 20%;
    margin: auto;
}


body {

    background-color: lightblue;
}


h1 {
    color: navy;
    margin-left: 20px;
}

header {
    height: 30%;
    width: 80%;
    background-color: #F1F1F1;
    text-align: center;
    border-radius: 5px;
}

section,
footer
{
    min-width:400px;
    text-align: center;
    background-color: #666666;
    border-radius: 5px;
    padding: 50px;
}


div {
    display: block;
    width: 500px;
    margin: 10px;
    text-align: left;
}
.container{
    background: #b4a980;
    position: relative;
    height: 100%;
    border-radius: 5px;

}
label{
    display: inline;
    width: 6px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


article {
    width: 80%;
    height: 100%;
    background-color: #f1d1ba;
    padding: 40px;
    border-radius: 5px;

}

aside{
    position: absolute;
    border-radius: 5px;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 20%;
    background: aquamarine;
    padding: 40px;

}
section {

    width: calc(100% - 100px);

}
/*default state - hidden*/
.edit {
    display: none;


}
/*show input field*/
.editing  input.edit{
    display: inline;
    /*line-height: 10px;*/
    /*width: 460px;*/
}
.editing  button.destroy{
    display: inline;
}
.editing label{
    display: none;
}